<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {{ style('login') }}
        {{ style('header') }}
        <title>Cadastro de Ocorrência</title>
    </head>



    <body class="bg-primary login">
      @include('header')

                    <form action="ocorrencia" method="post" id="formOcorrencia">
                        <div class="form-group">
                            <label for="titulo_ocor">Titulo da Ocorrência</label>
                            <input type="text" required class="form-control" name="titulo_ocor" placeholder="Digite o título da ocorrência...">
                        </div>
                        <div class="form-group">
                            <label for="desc_ocor">Descrição da Ocorrência</label>
                            <textarea required class="form-control" name="desc_ocor" rows="3" placeholder="Descreva a ocorrência..."></textarea>
                        </div>
                        <div class="form-group">
                            <label for="data_ocor">Data da Ocorrência</label>
                            <input type="date" required class="form-control" name="data_ocor">
                        </div>
                        <div class="form-group">
                            <label for="setor_ocor">Setor da Ocorrência</label>
                            <select class="form-control" name="cod_setor" id="cod_setor">
                            <option >Selecionar</option>
                                @each(setor in setores)
                                    <option value="{{setor.id}}"
                                    @if(tarefas.cod_setor == setor.id)
                                        selected
                                    @endif
                                    >{{setor.nome_setor}}</option>
                                @endeach
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="status">Status da Ocorrência</label>
                            <select class="form-control" name="cod_status" id="cod_status">
                            <option>Selecionar...</option>
                                @each(status in statuses)
                                    <option value="{{status.id}}"
                                    @if(tarefas.cod_status == status.id)
                                        selected
                                    @endif
                                    >{{status.status}}</option>
                                @endeach
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                            <a href="ocorrencia" class="btn btn-danger" role="button">Cancelar</a>
                        </div>
                    </form>

    </body>
</html>
