<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <title>Cadastro de Ocorrência</title>
    </head>
    <body class="container bg-primary">
        <form action="post" id="formOcorrencia">
            <div class="form-group">
                <label for="tituloOcorrencia">Titulo da Ocorrência</label>
                <input type="text" required class="form-control" id="tituloOcorrencia" placeholder="Digite o título da ocorrência...">
            </div>
            <div class="form-group">
                <label for="descricaoOcorrencia">Descrição da Ocorrência</label>
                <textarea required class="form-control" id="descricaoOcorrencia" rows="3" placeholder="Descreva a ocorrência..."></textarea>
            </div>
            <div class="form-group">
                <label for="dataOcorrencia">Data da Ocorrência</label>
                <input type="date" required class="form-control" id="dataOcorrencia">
            </div>
            <div class="form-group">
                <label for="setorOcorrencia">Setor da Ocorrência</label>
                <select class="form-control" id="setorOcorrencia" required>
                    <option value="valorbd">texto bd</option>
                </select>
            </div>
            <div class="form-group">
                <label for="statusOcorrencia">Status da Ocorrência</label>
                <select class="form-control" id="statusOcorrencia" required>
                    <option value="valorbd">texto bd</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Cadastrar</button>
                <a href="listocorrencia" class="btn btn-danger" role="button">Cancelar</a>
            </div>
        </form>
    </body>
</html>