<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <title>painel Principal</title>
        {{ style('') }}
    </head>
    <body class="container bg-primary">
        <div class=" row align-items-start ">
            <div class="col-9 p-2 mb-2">
                <div class="p-2 border rounded bg-light">
                    <div class="form-group">
                        <label for="cmb_setor">Setor:</label>
                        <select class="form-control" id="cmb_setor">
                            <option>Celeiro</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-3 p-2 mb-2">
                <div class="p-2 border rounded bg-light">
                    <h3>Cadastrar</h3>
                    <button type="button" class="btn btn-primary">Ocorrência</button>
                    <button type="button" class="btn btn-primary">Tarefa</button>
                </div>
            </div>

            <div class="col-9 px-2 mb-2">
                <div class="p-2 border rounded bg-light">
                    <h2>Tarefas</h2>
                    <div class="list-group">
                        @each(ocorrencia in ocorrencias)
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                                <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ocorrencia.titulo_ocor}}</h5>
                                <small>{{ocorrencia.status}}</small>
                                </div>
                                <p class="mb-1">{{ocorrencia.desc_ocor}}</p>
                                <small>{{ocorrencia.data_ocor}}</small>
                            </a>
                        @endeach
                        </div>
                </div>
            </div>


<div class="col-9 px-2 mb-2">
                <div class="p-2 border rounded bg-light">
                    <h2>Ocorrências</h2>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                        </div>
                </div>
            </div>



        </div>
    </body>
</html>