@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-image: url("/splash.png");
    background-color: #220052;
}

* {
    margin: 0;
    padding: 0;
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 536px;
    margin: auto;
    position: relative;
}

section:before {
    content: "";
    position: absolute;
    background: url("/pyramid.png") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 402px;
    z-index: -1;
}

.logo {
    background: url("/logo.svg") no-repeat;
    width: 36px;
    height: 33px;
    background-size: 100%;
    margin-bottom: 35px;
    opacity: 0;
    animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 1.3s forwards;
}

.title {
    background: url("/title.svg") no-repeat;
    width: 219px;
    height: 36px;
    background-size: 100%;
    opacity: 0;
    animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.2s forwards;
}

.subtitle {
    margin-top: 25px;
    color: #BDB3CB;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.5;
    opacity: 0;
    animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.5s forwards;
}

a {
    color: inherit;
    text-decoration: underline;
}

p {
    margin: 0.83rem 0;
}

@keyframes slideUp {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    50% {
        opacity: 0.2%;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

body {
    position: relative;
}

form {
    position: absolute;
    padding: 20px;
    margin: 10px;
    border: 1px solid #6666662a;
    width: 50%;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: white;
}

form img {
    margin-bottom: 0;
    border: 1px solid #418A36;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(137deg, rgba(255, 255, 255, 1) 40%, rgba(65, 138, 54, 1) 72%, rgba(11, 69, 5, 1) 85%);
}

form #inputPassword,
form #inputEmail {
    margin-top: 10px;
}

form.form-signin input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #418A36;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #418A362b;
}

body.login form.form-signin button {
    margin-top: 15px;
    color: #fff;
    background-color: #418A36;
    border-color: #418A36;
    transition: all ease-in-out .35s;
}

body.cadastro form.form-signin button {
    margin-top: 15px;
    color: #418A36;
    background-color: white;
    border: 1px solid #418A36;
    transition: all ease-in-out .35s;
}

body.cadastro form.form-signin button:hover {
    background-color: #418A36;
    color: #fff;
}

body.login form.form-signin button:hover {
    background-color: #fff;
    border-color: #418A36;
    color: #418A36;
}